---
import '@/assets/styles/footer.css';
---

<footer class="footer">
  <div class="footer-bottom">
    <div class="footer-copyright">
      <p>
        <span class="highlight-c">&copy;</span>
        {new Date().getFullYear()} Prakash Raj. All rights reserved.
      </p>
    </div>
    <div class="footer-quick-links">
      <a href="/">Home</a>
      <a href="/#about">About</a>
      <a href="/#projects">Projects</a>
      <a href="/blog">Blog</a>
    </div>
  </div>
</footer>
